<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-Client" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40-Client" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="2.8.15465.16500" targetFramework="net40-Client" />
  <package id="Xceed.Wpf.Toolkit" version="2.8.15465.16500" targetFramework="net40-Client" />
</packages>